version: '{build}'
skip_tags: true
image: Visual Studio 2017
configuration: Release
build_script:
- ps: ./Build.ps1
test: off
artifacts:
- path: artifacts/Stateless.*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: oy2bl2sdkc2ime4tvbyqdx2pxatwrdyujdu74amdqfje7e
  on:
    branch: /^(master|dev)$/
